  <h1>LOGIN</h1>
  <%= form_for :session, url: login_path do |f| %>
    <% if @error %>
      <p class="errors">* There are no users with that name!</p>
    <% end %>
    <%= f.text_field :username, placeholder: 'Your name here'%> 
    <%= f.submit 'Log in'%>
  <% end %> 
</div>
