  <div class="sessions-container">
  <h1 class="login-header">LOGIN</h1>
  
  <%= form_for :session, url: login_path do |f| %>
    <% if @error %>
      <p class="errors">* There are no users with that name!</p>
    <% end %>
    <div class="login-form">
    <%= f.text_field :username, placeholder: 'Username here', class: 'login-input'%> 
    <%= f.submit 'Log in', class: 'login-submit'%>
    <%=link_to 'Main', root_path, class: 'main-link'%>
    </div>
  <% end %> 
  
</div>
