// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.group-container {    
    display: flex;
}

.group-name {
    align-items: center;
}

.group-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;    
}

.group-link {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    color: white;
    margin-left: 15px;
}

.allgroup-container {
    height: 100vh;
    background-color: #dde9f0;
}

.group-header {
    margin-top: 0;
    padding-top: 10px;
    font-family: 'Kalam', cursive;
    background-color: #3778c2;
    color: white;
    text-align: center;
}