// Place all the styles related to the Medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.medicine-name {
    color: #3778c2;
    font-size: 20px;
    font-family: 'Kalam', cursive;   
    text-transform: capitalize;
}

.medicine-amount {
    color: #3778c2;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    margin-left: 50px;
}

.medicine-group-name {
    margin-left: 50px;
    margin-right: 20px;
    color: #79d64b;
    font-size: 20px;
    font-family: 'Kalam', cursive;
}