// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0;
    padding: 0;   
}

.main-page-container {   
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #3778c2;     
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.main-header {
    font-family: 'Kalam', cursive;
    font-size: 150px;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-link {
    font-family: 'Kalam', cursive;
    padding: 15px 100px;
    background-color: white;
    color: #3778c2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.signup-link {
    font-family: 'Kalam', cursive;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}